<div class="posting-contents">
  <h2 class="post-title">編集画面</h2>
  <%= form_with model: @content, url: content_path, local: true do |f| %>

  <div class="bold-text">
        1.イメージ画像
  </div>
  <div class="click-upload">
    <%= f.file_field :image, id:"image" %>
  </div>

  <div class="form">
    <div class="bold-text">
      2.タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title, class:"title-text", id:"title-name", placeholder:"タイトル", maxlength:"40" %>
    <div class="items-explain">
      <div class="bold-text">
        3.内容の説明
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :introduction, class:"intro-text", id:"intro-info", placeholder:"内容の説明（必須 1,000文字まで）身についた内容、良かった点、気になる点、注意点など" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="url">
      <div class="bold-text">
        4.url
      </div>
      <%= f.text_area :url, class:"title-text", id:"url-name", placeholder:"URLを貼り付けて下さい。", maxlength:"400" %>
    </div>

    <div class="items-detail">
      <div class="form">
        <div class="bold-text">
          5.媒体
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:media_id, Medium.all, :id, :name, {class:"select-box", id:"medium"}) %>
        <div class="bold-text">
          6.ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {class:"select-box", id:"genre"}) %>
      </div>
    </div>

    <div class="btn-contents">
      <%= f.submit "編集する" ,class:"postbtn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    
  </div>
  <% end %>
</div>