<div class="wrapper">
  <%= render "shared/sidebar" %>
  <div class="contents">
    <% @contents.each do |content| %>
      <div class="content_post">
      <%= link_to content_path(content.id), class: "link" do %>
        <% if content.image.attached? %>
          <%= image_tag content.image.variant(resize:'100x100'), class: 'content-image'if content.image.attached? %>
        <% else %>
          <%= image_tag "noimage.png", size: '100x100', class: 'content-image' %>
        <% end %>
        <div class="data" >
          <%= content.title %></p>
          <span class="name">評価：4.5</span>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>