<div class="wrapper">
  <%= render "shared/sidebar" %>
  <div class="contents">
    <% @contents.each do |content| %>
      <% if params[:id].to_i == content.genre_id %>
      <div class="content__post">
      <%= link_to content_path(content.id), class: "content__post--link" do %>
        <% if content.image.attached? %>
          <%= image_tag content.image, class: 'content__post--image'if content.image.attached? %>
        <% else %>
          <%= image_tag "noimage.png", class: 'content__post--image' %>
        <% end %>
        <div class="content__post--data" >
          <%= content.title %></p>
          <span class="content__post--name">評価：4.5</span>
        </div>
      <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>