<div class="sidebar">
  <div class="sidebar__home">
    <ul class="sidebar__home--lists">
      <li><%= link_to 'ホーム', "/", class: "sidebar__home--list" %></li>
      <li><%= link_to '投稿する', new_content_path, class: "sidebar__home--list" %></li>
    </ul>
  </div>
  <div class="sidebar__genre">
    <ul class="sidebar__genre--lists">
      <p class="sidebar__genre--heading">ジャンルから探す</p>
      <li><%= link_to '経営', genre_search_content_path(2), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'IT', genre_search_content_path(3), class: "sidebar__genre--list" %></li>
      <li><%= link_to '自己啓発', genre_search_content_path(4), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'マーケティング', genre_search_content_path(5), class: "sidebar__genre--list" %></li>
      <li><%= link_to '営業', genre_search_content_path(6), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'その他', genre_search_content_path(7), class: "sidebar__genre--list" %></li>
    </ul>
  </div>
  <div class="sidebar__medium">
    <ul class="sidebar__medium--lists">
      <p class="sidebar__medium--heading">媒体から探す</p>
      <li><%= link_to '書籍', media_search_content_path(2), class: "sidebar__genre--list" %></li>
      <li><%= link_to '動画', media_search_content_path(3), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'Udemy', media_search_content_path(4), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'MENTA', media_search_content_path(5), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'Webサービス(無料)', media_search_content_path(6), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'Webサービス(有料)', media_search_content_path(7), class: "sidebar__genre--list" %></li>
      <li><%= link_to 'その他', media_search_content_path(8), class: "sidebar__genre--list" %></li>
    </ul>
  </div>
</div>