<div class="login__form">
    <h2 class="login__form--title">ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <label class="login__form--text">メールアドレス</label>
        <span class="indispensable">必須</span><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <label class="login__form--text">パスワード</label>
        <span class="indispensable">必須</span><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <label class="login__form--text">保存する</label><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
</div>
